<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="bigraph.biged.ui.editors.BigraphEditor"
             contributorClass="bigraph.biged.ui.editors.BigraphEditorActionBarContributor"
             default="true"
             extensions="*.xml"
             id="bigraph.biged.editors.BigraphEditor"
             name="BigEd">
          <contentTypeBinding
                contentTypeId="org.eclipse.core.runtime.xml">
          </contentTypeBinding>
       </editor>
    </extension>
</plugin>
